{
  "data_root_path": "data/justice/toy_train",
  "udpipe_model_url": "https://rusvectores.org/static/models/udpipe_syntagrus.model",

  "word2vec": {
    "python_trained": "true",
    "train_path": "data/justice/toy_word2vec_train",
    "saved_model": "saved_models/custom_word2vec (justice)/model.bin",
    "algorithm": "skipgram",
    "bigrams": "true",
    "trigrams": "true"
  },

  "clustering": {
    "one_hot_size": 32,
    "saved_model": "saved_models/kmeans (justice)"
  },

  "classifier": {
    "saved_model": "saved_models/classifier (justice)",
    "num_classes": 24,
    "batch_size": 50,
    "steps": 1000
  }
}