{
  "data_root_path": "data/rusvectores",
  "udpipe_model_url": "https://rusvectores.org/static/models/udpipe_syntagrus.model",

  "word2vec": {
    "python_trained": "false",
    "saved_model": "saved_models/ruwikiruscorpora_upos_skipgram_300_2_2019/model.bin",
    "algorithm": "skipgram",
    "bigrams": "false",
    "trigrams": "false"
  },

  "clustering": {
    "one_hot_size": 2048,
    "saved_model": "saved_models/kmeans (rusvectores)"
  },

  "classifier": {
    "saved_model": "saved_models/classifier (rusvectores)",
    "num_classes": 24,
    "batch_size": 50,
    "steps": 1000
  }
}